@font-face {
    font-family: 'devil-breeze-bold';
    src: url('../fonts/devil-breeze-bold-webfont.woff2') format('woff2'),
         url('../fonts/devil-breeze-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$fuente-principal: 'devil-breeze-bold';
$fuente-secundaria: 'Lato', sans-serif;

@mixin flex-dis {
    display: flex;
}

@mixin align-center {
    text-align: center;
    align-items: center;
}