a {
    color: inherit;
    text-decoration: none;
}

main {
    background-color: black;
    padding-top: 50px;
}

h2 {
    font-family: $fuente-principal;
    color: white;
    p {
        font-family: $fuente-secundaria;
    }
}