.main-a1 {
    text-align: center;
    .subtitle {
        font-family: $fuente-principal;
        color: white;
    }
    .texto-a1 {
        color: white;
        font-family: $fuente-secundaria;
        margin-bottom: 0px;
    }
}