.main-a1 {
    text-align: center;
    .subtitle {
        font-family: 'devil-breeze-bold';
        color: white;
    }
    .texto-a1 {
        color: white;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0px;
    }
}