.left-section {
    @include align-center;
    @include flex-dis;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

.texto {
    color: white;
    margin: 25px;
    font-family: $fuente-secundaria;
}

.content-img {
    width: 400px;
    border-radius: 10px;
}

.right-section {
    @extend .left-section;
    justify-content: right;
    margin-right: 10px
}